.header__wrapper {
 width: 100%;
 display: flex;
 flex-direction: column;
}
.header__h {
 margin-left: 2.5%;
 margin-bottom: 45px;
}
.header__nav {
 width: 100%;
 height: 50px;
 background: black;
 color: white;
 display: flex;
 justify-content: flex-end;
}
.header__ul {
 width: 200px;
 list-style-type: none;
 margin: 0;
 display: flex;
 flex-direction: row;
 align-items: center;
 button {
  text-align: center;
  width: 120px;
  height: 30px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.2;
  background: black;
  border: 1px solid white;
  color: white;
  cursor: pointer;
 }
}

.header__logo {
 width: 200px;
 margin: 30px;
 margin-left: auto;
 img {
  width: 100%;
  height: auto;
 }
}

.header__button {
 width: 95%;
 height: auto;
 margin-left: 2.5%;
 button {
  margin-top: 30px;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  width: 200px;
  border: 2px solid black;
 }
}
