.footer {
 width: 100%;
 height: auto;
}
.footer__h {
 margin-left: 2.5%;
 font-weight: 500;
 font-size: 23px;
}

.footer__d {
 margin-left: 2.5%;
 margin-top: 60px;
 background: #000;
 height: 2px;
 width: 80px;
}
