.mainItems {
 width: 95%;
 min-height: 60vh;
 margin-left: auto;
 margin-right: auto;
}

.mainItems__h {
 margin-top: 30px;
 font-weight: 500;
 font-size: 23px;
}

.mainItems__d {
 width: 100%;
 margin-top: 30px;
 height: 40px;
 button {
  padding: 10px 15px;
  background: #fff;
  border: 2px solid #000;
  font-size: 15px;
  font-weight: 800;
  border-right: none;
  &:last-of-type {
   border: 2px solid #000;
  }
 }
 span {
  font-size: 12px;
  padding-right: 15px;
 }
 input {
  height: 100%;
  border: 1px solid #000;
  width: 40px;
  text-align: center;
 }
}

.mainItems__t {
 width: 1170px;
 margin-top: 30px;
 font-size: 12px;
 border-spacing: 0;
 border-collapse: separate;
}
th {
 max-height: 60px;
 &:first-of-type {
  width: 47px;
 }
 &:nth-of-type(2) {
  width: 99px;
 }
 &:nth-of-type(3),
 &:nth-of-type(4) {
  width: 83px;
 }
 &:nth-of-type(5) {
  width: 184px;
 }
 &:nth-of-type(6) {
  width: 103px;
 }
 &:nth-of-type(6) {
  width: 103px;
 }
 &:nth-of-type(7) {
  width: 87px;
 }
 &:nth-of-type(8) {
  width: 77px;
 }
 &:nth-of-type(9) {
  width: 73px;
 }
 &:nth-of-type(10) {
  width: 69px;
 }
 &:nth-of-type(11) {
  width: 62px;
 }
 &:nth-of-type(12) {
  width: 132px;
 }
 &:nth-of-type(13) {
  width: 59px;
 }
}

.form__tr {
 min-height: 60px;
 td {
  max-height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
 }
}
.tabelButton {
 width: 50px;
 height: 35px;
 border: 1px solid black;
 background: none;
}
.mainItem__column {
 padding: 10px;
 height: 60px;
 text-align: center;
}
tbody tr:hover {
 background: #f1f2f1;
}
